{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "env": {
    "es6": true,
    "browser": false,
    "node": true,
    "jquery": false,
    "jest": true
  },
  "globals": {
    "Atomics": false,
    "SharedArrayBuffer": false
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": ["tsconfig.json"],
    "sourceType": "module"
  }
}
